<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="configFragment">

		<title th:text="${'TWO | ' + menu.title}"></title>
		<link rel="shortcut icon" type="image/x-icon" th:href="@{/image/favicon.ico}">
		<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
		<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

		<script th:src="@{/js/common.js}"></script>
		<script th:src="@{/vendor/bootstrap/js/bootstrap.js}"></script>
		<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
		<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
		<script th:src="@{/js/sb-admin-2.min.js}"></script>

		<script>
			// 공통 스크립트 영역
		</script>

		<!-- 개별 CSS, JavaScript 영역 -->
		<th:block data-layout-fragment="css"></th:block>
		<th:block data-layout-fragment="script"></th:block>
	</head>
</html>
