<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:replace="include/config :: configFragment"></head>

	<th:block th:if="${menu?.isLnb}">
		<div id="wrapper">
			<th:block th:replace="include/lnb :: lnbFragment"></th:block>
			<div id="content-wrapper" class="d-flex flex-column">
				<div id="content">
					<nav th:replace="include/top :: topFragment"></nav>
					<div class="container-fluid" layout:fragment="content"></div>
				</div>
				<th:block th:replace="include/footer :: footerFragment"></th:block>
			</div>
		</div>
		<a class="scroll-to-top rounded" href="javascript:void(0);" onclick="javascript:window.scrollTo(0,0)">
			<i class="fas fa-angle-up"></i>
		</a>
	</th:block>
	<th:block th:if="not ${menu?.isLnb}">
		<body id="page-top" layout:fragment="content"></body>
	</th:block>
</html>
