.password-msg{text-align:center; width: 555px; height: 24px; padding-bottom: 10px; font-size: 14px; line-height: 1;}
.login-msg{text-align:center;font-size: 14px;height: 24px;padding-bottom: 10px;line-height: 1;}

.font-color-red{color:red;}
.font-color-black{color:black;}

.btn-full {
	width : 100% !important;
}

.text-center {
	text-align: center !important;
}

.title-bold {
	font-weight: bold !important;
}

.fa-naver:before {
	font-family: Arial; /* your font family here! */
	font-weight: bold;
	content: 'N';
}
