<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{common/include/layout}">
<th:block data-layout-fragment="script">
	<script th:src="@{/js/format.js}"></script>
	<script th:inline="javascript">
		$(function() {
			$("#select_master_code").on("change", function() {

			});
		})

		// row 추가
		function addRow() {
			let addHtml = '';
			addHtml += `<tr class="odd add-row">`;
			addHtml += `    <td><button class="btn btn-primary btn-full" onclick="javascript:rowDelete(this);">삭제</button></td>`;
			addHtml += `    <td><input type="text" name="masterCode" class="form-control bg-light border-0 small" maxlength="10"></td>`;
			addHtml += `    <td><input type="text" name="code" class="form-control bg-light border-0 small" maxlength="10"></td>`;
			addHtml += `    <td><input type="text" name="title" class="form-control bg-light border-0 small" maxlength="30"></td>`;
			addHtml += `    <td><input type="number" name="ordNo" class="form-control bg-light border-0 small" maxlength="10" oninput="maxLengthCheck(this);"></td>`;
			addHtml += `    <td>`
			addHtml += `        <select name="useYn" class="btn-full custom-select custom-select-sm form-control form-control-sm">`;
			addHtml += `            <option value="Y">사용</option>`;
			/* addHtml += `            <option value="N">미사용</option>`; */
			addHtml += `        </select>`;
			addHtml += `	</td>`;
			addHtml += `    <td><button class="btn btn-full btn-primary" onclick="javascript:_save(this);">저장</button></td>`;
			addHtml += `</tr>`;
			if (Func.isObject($(".no-data-row"))) {
				$(".no-data-row").remove();
			}
			$("#tbody-content").prepend(addHtml);
		}

		function rowDelete(obj) {
			$(obj).closest('tr').remove();
			if ($("#tbody-content").find("tr").length == 0 && !Func.isObject($(".no-data-row"))) {
				let addHtml = '';
				addHtml  = `<tr class="odd no-data-row" style="text-align: center;">`;
				addHtml += `	<td colSpan="7">등록된 코드가 없습니다.</td>`;
				addHtml += `</tr>`;
				$("#tbody-content").prepend(addHtml);
			}
		}

		function _save(obj) {
			const target = $(obj).closest('tr');
			let data = validationCheck(target);
			if (typeof data == 'boolean') return;
			Ajax.execute('/api/code', data, function(result) {
				alert(result.message);
			});
		}

		function _update(obj) {
			const target = $(obj).closest('tr');
			let data = validationCheck(target);
			if (typeof data == 'boolean') return;
			data['originMasterCode'] = $(target).find("input[name='originMasterCode']").val();
			data['originCode'] = $(target).find("input[name='originCode']").val();

			Ajax.execute('/api/code', data, function(result) {
				alert(result.message);
			}, 'POST');
		}

		function validationCheck(target) {
			const _masterCode = $(target).find("input[name='masterCode']");
			const _code = $(target).find("input[name='code']");
			const _title = $(target).find("input[name='title']");
			const _ordNo = $(target).find("input[name='ordNo']");

			if (Func.isNotEmptyAlert(_masterCode.val(), 'MASTER CODE를 입력해주세요.')) return true;
			if (Func.isNotEmptyAlert(_code.val(), 'CODE를 입력해주세요.')) return true;
			if (Func.isNotEmptyAlert(_title.val(), '제목을 입력해주세요.')) return true;
			if (Func.isNotEmptyAlert(_ordNo.val(), '노출 순서를 입력해주세요.')) return true;

			let data = {};
			data['masterCode'] = _masterCode.val();
			data['code'] = _code.val();
			data['title'] = _title.val();
			data['ordNo'] = _ordNo.val();
			return data;
		}

	</script>
</th:block>
<th:block data-layout-fragment="content">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">공통 코드 관리</h1>
			<a onclick="javascript:addRow();"
			   href="javascript:void(0);"
			   class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">ROW 추가</a>
		</div>

		<div class="card shadow mb-4">
			<div class="card-body">
				<div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
					<div class="row">
						<div class="col-sm-12">
							<div class="dataTables_length" id="dataTable_length">
								<label>Master Code
									<select id="select_master_code"
											name="select_master_code" aria-controls="dataTable"
									    class="custom-select custom-select-sm form-control form-control-sm">
										<th:block th:each="data : ${codeList}">
											<option value="">미선택</option>
											<option th:value="${data.code}"
											        th:selected="${pageInfo.code} == ${data.code}">
												[[${data.title}]]</option>
										</th:block>

										<th:block th:if="${#lists.isEmpty(codeList)}">
											<option value="">없음</option>
										</th:block>
									</select>
								</label>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<table class="table table-bordered dataTable" id="dataTable" role="grid" style="width: 100%;">
								<thead>
									<tr role="row" class="text-center title-bold">
										<th style="width: 6%;">삭제</th>
										<th style="width: 15%;">MASTER CODE</th>
										<th style="width: 15%;">CODE</th>
										<th style="width: 34%;">제목</th>
										<th style="width: 15%;">노출 순서</th>
										<th style="width: 8%;">사용 여부</th>
										<th style="width: 12%;">저장</th>
									</tr>
								</thead>
								<tbody id="tbody-content">
									<tr class="odd no-data-row" th:if="${#lists.isEmpty(commCode)}" style="text-align: center;">
										<td colspan="7">등록된 코드가 없습니다.</td>
									</tr>
									<tr class="odd" th:each="data : ${commCode}">
										<input type="hidden" name="originMasterCode" th:value="${data.masterCode}">
										<input type="hidden" name="originCode" th:value="${data.code}">
										<td></td>
										<td><input type="text" data-empty-label="Master Code를" class="form-control bg-light border-0 small"
										           name="masterCode" th:value="${data.masterCode}" readonly></td>
										<td><input type="text" data-empty-label="Code를" class="form-control bg-light border-0 small"
										           name="code" th:value="${data.code}" readonly></td>
										<td><input type="text" data-empty-label="제목을" class="form-control bg-light border-0 small"
										           name="title" th:value="${data.title}"></td>
										<td><input type="text" data-empty-label="노출 순서를" class="form-control bg-light border-0 small"
										           name="ordNo" th:value="${data.ordNo}"></td>
										<td>
											<select name="useYn" class="btn-full custom-select custom-select-sm form-control form-control-sm">`;
												<option value="Y" th:selected="${data.useYn} == 'Y'">사용</option>
												<option value="N" th:selected="${data.useYn} == 'N'">미사용</option>
											</select>
										</td>
										<td><button class="btn btn-full btn-primary" onclick="_update(this);">저장</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<th:block th:replace="common/include/pagenation :: pageFragment"></th:block>
				</div>
			</div>
		</div>
	</div>
</th:block>
